In [1]:
import requests
import json

import os
import re

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime

from osrsbox import items_api

from pathlib import Path
from typing import Optional

import osrs_GE_data

https://github.com/osrsbox/osrsbox-db?tab=readme-ov-file#item-properties

- id
- name
- last_updated
- cost

In [3]:
df = osrs_GE_data.create_price_df(13024)
df

,timestamp,avgHighPrice,avgLowPrice,highPriceVolume,lowPriceVolume,id
0,1733637600,131718,130812,48,15,13024
1,1733659200,131830,130176,75,19,13024
2,1733680800,131761,128375,139,49,13024
3,1733702400,131733,128711,175,35,13024
4,1733724000,131552,128840,51,35,13024
...,...,...,...,...,...,...
360,1741435200,132800,129283,90,30,13024
361,1741456800,131881,127394,182,81,13024
362,1741478400,132490,127024,127,42,13024
363,1741500000,131380,127655,91,42,13024
364,1741521600,131311,126941,92,107,13024

In [2]:
test_path = 'test_files/test.csv'
osrs_GE_data.create_new_master('6h',test_path)

New master file saved to test_files/test.csv

In [7]:
print(Path(test_path))

test_files/test.csv